---
import { CalendarForm } from '@/components/CalendarForm'
import { Chat } from '@/components/Chat'
import { Score } from '@/components/Score'
import { getLeagueMatchById } from '@/controllers'
import Layout from '@/layouts/Layout.astro'
import type { LeagueMatch, User } from '@/types'

const { id } = Astro.params

let match: LeagueMatch | null = null

let from = null
let to = null

let player1: User | null = null
let player2: User | null = null

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value

  if (sessionCookie) {
    try {
      const { data } = await getLeagueMatchById({ id, token: sessionCookie })

      player1 = data?.player1
      player2 = data?.player2

      match = data
    } catch (error) {
      console.log(error)
    }
  }
  to = match?.player1._id === from ? match?.player2 : match?.player1
  from = match?.player1._id === from ? match?.player1 : match?.player2
}
---

<Layout>
  <div>
    <div class="container mx-auto flex">
      <div class="w-1/2">
        <div
          class="my-2 w-fit bg-white px-4 py-2 rounded text-black text-center font-semibold text-2xl"
          transition:name={`match-${id}`}
        >
          {player1 && player1?.name} vs {player2 && player2?.name}
        </div>

        {
          match && !match.winner && (
            <div>
              <p>Aún no se ha disputado el partido</p>
              <Score matchId={id} client:load />
            </div>
          )
        }
        {
          match && match.winner && (
            <>
              <p>{match.score}</p>
            </>
          )
        }
        <div class="my-5">
          {
            match && (
              <CalendarForm
                maxDate={new Date(match.round.endDate)}
                client:load
              />
            )
          }
        </div>
      </div>

      <div class="w-1/2">
        {from && to && <Chat from={from} to={to} client:load />}
      </div>
    </div>
  </div>
</Layout>
