---
import { LoginFormContainer } from '@/components/LoginFormContainer'
import { SignoutButton } from '@/components/SignoutButton'
import { checkPlayerInLeague } from '@/controllers'
import Layout from '@/layouts/Layout.astro'
import { decodeJWT } from '@/lib/auth'
import type { League, LeagueMatch } from '@/types'

let showLogin = true
let leagues: League[] = []
let players: any[] = []

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value

  if (!sessionCookie) {
    showLogin = true
    return
  }

  const decodedCookie = decodeJWT(sessionCookie)
  if (decodedCookie) {
    showLogin = false
  }

  try {
    const { data } = await checkPlayerInLeague({
      playerId: decodedCookie.id,
      token: sessionCookie,
    })
    leagues = data.leagues
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout title="Login">
  <img
    class="w-32 h-32 rounded-full mx-auto"
    src="/images/placeholder.jpg"
    alt="Profile Picture"
    transition:name="profile-img"
  />
  <section class="w-full flex justify-center my-3">
    {
      showLogin ? (
        <LoginFormContainer client:load />
      ) : (
        <SignoutButton client:load />
      )
    }
  </section>
  {
    leagues &&
      leagues.map((league: League) => (
        <section class="w-full flex flex-col justify-center my-3">
          <p class="text-center">{league.name}</p>

          <article>
            <h2>Matches</h2>
            <ul>
              {league.matches?.map((match: LeagueMatch) => (
                <li>
                  <a href={`/league-matches/${match._id}`}>
                    {match.player1.name}
                    vs
                    {match.player2.name}
                  </a>
                  <span>{match.score}</span>
                </li>
              ))}
            </ul>
          </article>
        </section>
      ))
  }
</Layout>
