---
import TableUsersComponent from '@/components/TableUsersComponent'
import Layout from '@/layouts/Layout.astro'
import { type League } from '@/types'
import { getLeague } from '@/controllers'

const { id } = Astro.params
let league: League | null = null

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value

  if (sessionCookie) {
    const { data } = await getLeague({
      id,
      token: sessionCookie,
    })

    league = data
  }
}
---

<Layout title={`${league ? `${league.name}` : 'League'}`}>
  {
    league && (
      <div>
        <h1>{league.name}</h1>
        {league.startedAt ? (
          <h3>EN JUEGO</h3>
        ) : (
          <button id="start-season" data-league-id={league?._id}>
            <a>Start season</a>
          </button>
        )}
      </div>
    )
  }
  <div>
    <button>
      <a href={`/leagues/${id}/players`}>Add Player</a>
    </button>
  </div>
  {
    league && (
      <div>
        <h3>Players</h3>

        <TableUsersComponent
          client:load
          playerIds={league?.players || []}
          leagueId={league._id}
        />
      </div>
    )
  }
</Layout>

<script>
  import { startSeason } from '@/controllers'

  const $startSeason = document.getElementById('start-season')

  if ($startSeason) {
    $startSeason.addEventListener('click', async () => {
      const league = $startSeason.getAttribute('data-league-id')

      if (!league) return

      const { data } = await startSeason(league)

      if (data) {
        location.reload()
      }
    })
  }
</script>
