---
import TableUsersComponent from '@/components/TableUsersComponent'
import Layout from '@/layouts/Layout.astro'
import { type League } from '@/types'
import { fetchAPI } from '@/utils'

const { id } = Astro.params

const query = `
      query GetLeague {
        getLeagueById(leagueId: "${id}") {
          _id
          name
          players
        }
      }
  `

const { getLeagueById } = (await fetchAPI(query)) || {}
const league = getLeagueById as League | undefined

let players = []

try {
  const response = await fetch(
    `${Astro.url.protocol}//${Astro.url.host}/api/users`,
    {
      method: 'POST',
      body: JSON.stringify({
        ids: league?.players || [],
      }),
      headers: {
        'Content-Type': 'application/json',
      },
    }
  )

  const data = (await response.json()).data.users
  players = data
} catch (error) {
  console.error(error)
}
---

<Layout title={`${league ? `${league.name}` : 'League'}`}>
  <button>
    <a href={`/leagues/${id}/players`}>Add Player</a>
  </button>
  {
    league && (
      <>
        <div>
          <h2>{league.name}</h2>
        </div>
        <div>
          <h3>Players</h3>

          <TableUsersComponent client:load playerIds={league?.players || []} />
        </div>
      </>
    )
  }
</Layout>

<script></script>
