---
import { PlayersStack } from '@/components/PlayersStack'
import Layout from '@/layouts/Layout.astro'
import type { League } from '@/types'
import { actions } from 'astro:actions'

const { id } = Astro.params

if (!id) return

const { data, error } = await Astro.callAction(actions.getLeague, {
  leagueId: id,
})

if (error) {
  console.error(error.message)
}

const league: League = data?.data
---

<Layout>
  {
    league && (
      <div>
        <h1>{league.name}</h1>
        {league.startedAt ? (
          <h3>EN JUEGO</h3>
        ) : (
          <form method="POST" action={actions.startSeason}>
            <input type="hidden" name="leagueId" value={league._id} />
            <button>Start season</button>
          </form>
        )}
      </div>
    )
  }
  <div>
    <button>
      <a href={`/leagues/${id}/players`}>Add Player</a>
    </button>
  </div>
  {
    league && (
      <div>
        <h3>Players</h3>

        <PlayersStack client:visible leagueId={league._id} />
      </div>
    )
  }
</Layout>
