---
import { PlayersStack } from '@/components/PlayersStack'
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import type { League } from '@/types'
import { actions } from 'astro:actions'

const { id } = Astro.params

if (!id) return

const { data, error } = await Astro.callAction(actions.getLeague, {
  leagueId: id,
})

if (error) {
  console.error(error.message)
}

const league: League = data?.data
---

<Layout>
  {
    league && (
      <div class="flex flex-col gap-4 items-center">
        <h1 class="font-bold text-2xl ">{league.name}</h1>
        {league.startedAt ? (
          <h3 class="font-semibold text-xl text-green-200 ">EN JUEGO</h3>
        ) : (
          <form method="POST" action={actions.startSeason}>
            <input type="hidden" name="leagueId" value={league._id} />
            <Button>Start season</Button>
          </form>
        )}
        <Button className="w-fit">
          <a href={`/leagues/${id}/players`}>Añadir jugadores</a>
        </Button>
      </div>
    )
  }
  <div></div>
  {
    league && (
      <PlayersStack client:visible className="my-12" leagueId={league._id} />
    )
  }
</Layout>
