---
import Layout from '@/layouts/Layout.astro'
import { fetchAPI } from '@/utils'

const { id } = Astro.params

const query = `
      query GetAccident {
        getAccidentById(accidentId: "${id}") {
          _id
          ID
          Source
          Severity
          Start_Time
          End_Time
          Start_Lat
          Start_Lng
          End_Lat
          End_Lng
          Distance
          Description
          Street
          City
          County
          State
          Zipcode
          Country
          Timezone
          Airport_Code
          Weather_Timestamp
          Temperature
          Wind_Chill
          Humidity
          Pressure
          Visibility
          Wind_Direction
          Wind_Speed
          Precipitation
          Weather_Condition
          Amenity
          Bump
          Crossing
          Give_Way
          Junction
          No_Exit
          Railway
          Roundabout
          Station
          Stop
          Traffic_Calming
          Traffic_Signal
          Turning_Loop
          Sunrise_Sunset
          Civil_Twilight
          Nautical_Twilight
          Astronomical_Twilight
        }
      }
  `

const { getAccidentById: accident } = await fetchAPI(query)
console.log(accident)
---

<Layout title={`${id}`}>
  <h1 transition:name={id}>Post {id}</h1>

  <h2>Accident Details</h2>
  <p>Source: {accident.Source}</p>
  <p>Severity: {accident.Severity}</p>
  <p>
    Start Time: {new Date(Number(accident.Start_Time))}
  </p>
  <p>End Time: {new Date(Number(accident.End_Time))}</p>
  <p>Latitude: {accident.Start_Lat}</p>
  <p>Longitude: {accident.Start_Lng}</p>

  <p>Weather_Condition: {accident.Weather_Condition}</p>

  <img
    transition:name=`weather-icon-${id}`
    src="/src/assets/svgs/sun.svg"
    alt="sun"
    height="500"
    width="500"
  />
  <iframe
    src=`https://www.google.com/maps?q=${Number(accident.Start_Lat)},${Number(accident.Start_Lng)}&z=15&output=embed`
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

  <pre>{JSON.stringify(accident, null, 2)}</pre>
</Layout>
