---
import Layout from '@/layouts/Layout.astro'
import { Country, type Player } from '@/types'
import { fetchAPI, fetchWikidata } from '@/utils'
import { md5 } from 'js-md5'

const { id } = Astro.params

const query = `
      query GetPlayer {
        getPlayerById(playerId: "${id}") {
          _id
          player_id
          name_first
          name_last
          hand
          dob
          ioc
          height
          wikidata_id
        }
      }
  `

const { getPlayerById } = (await fetchAPI(query)) || {}
const player = getPlayerById as Player | undefined

let imgFilename,
  countryCode,
  a,
  b = undefined

if (player) {
  const wikidata = await fetchWikidata('/entities/items/' + player.wikidata_id)
  const imageObject = wikidata.statements.P18

  countryCode = player ? Country[player.ioc as keyof typeof Country] : undefined

  if (imageObject) {
    imgFilename = wikidata.statements.P18[0].value.content.replace(/ /g, '_')
    const imgHash = md5(imgFilename)
    a = imgHash.slice(0, 1)
    b = imgHash.slice(0, 2)
  }
}

const imgSrc = imgFilename
  ? `https://upload.wikimedia.org/wikipedia/commons/${a}/${b}/${imgFilename}`
  : undefined
---

<Layout
  title={`${player ? `${player.name_first} ${player.name_last}` : 'Player'}`}
>
  {imgSrc && <img src={imgSrc} alt="player" width="200" height="200" />}

  {
    player && (
      <div>
        <h2>
          {player.name_first} {player.name_last}
        </h2>
        <p>{player.dob}</p>
        <p>{player.hand}</p>
        <div
          style={{
            display: 'flex',
            alignItems: 'center',
            gap: '0.5rem',
          }}
        >
          <img
            src={`/svgs/${countryCode}.svg`}
            alt={player.ioc}
            height={30}
            width={30}
          />
          <p>{player.ioc}</p>
        </div>
        <p>{player.height} cm</p>
      </div>
    )
  }

  <pre>{JSON.stringify(player, null, 2)}</pre>
</Layout>
