---
import Layout from '@/layouts/Layout.astro'
import { Country, type Player } from '@/types'
import { fetchAPI, getPlayerImage } from '@/utils'

const { id } = Astro.params

const query = `
      query GetPlayer {
        getPlayerById(playerId: "${id}") {
          _id
          player_id
          name_first
          name_last
          hand
          dob
          ioc
          height
          wikidata_id
        }
      }
  `

const { getPlayerById } = (await fetchAPI(query)) || {}
const player = getPlayerById as Player | undefined

const imgSrc = await getPlayerImage(player?.player_id ?? 0)

let countryCode: string | undefined

if (player) {
  countryCode = player ? Country[player.ioc as keyof typeof Country] : undefined
}
---

<Layout
  title={`${player ? `${player.name_first} ${player.name_last}` : 'Player'}`}
>
  {imgSrc && <img src={imgSrc} alt="player" width="200" height="200" />}

  {
    player && (
      <div>
        <h2>
          {player.name_first} {player.name_last}
        </h2>
        <p>{player.dob}</p>
        <p>{player.hand}</p>
        <div
          style={{
            display: 'flex',
            alignItems: 'center',
            gap: '0.5rem',
          }}
        >
          <img
            src={`/svgs/${countryCode}.svg`}
            alt={player.ioc}
            height={30}
            width={30}
          />
          <p>{player.ioc}</p>
        </div>
        <p>{player.height} cm</p>
      </div>
    )
  }

  <pre>{JSON.stringify(player, null, 2)}</pre>
</Layout>
