---
import Layout from '@/layouts/Layout.astro'
import type { Player } from '@/types'
import { fetchAPI, fetchWikidata } from '@/utils'
import { md5 } from 'js-md5'

const { id } = Astro.params

const query = `
      query GetPlayer {
        getPlayerById(playerId: "${id}") {
          _id
          player_id
          name_first
          name_last
          hand
          dob
          ioc
          height
          wikidata_id
        }
      }
  `

const { getPlayerById } = (await fetchAPI(query)) || {}
const player = getPlayerById as Player

const wikidata = await fetchWikidata('/entities/items/' + player.wikidata_id)
const imageObject = wikidata.statements.P18

let imgFilename,
  a,
  b = undefined

if (imageObject) {
  imgFilename = wikidata.statements.P18[0].value.content.replace(/ /g, '_')
  const imgHash = md5(imgFilename)
  a = imgHash.slice(0, 1)
  b = imgHash.slice(0, 2)
}

const imgSrc = imgFilename
  ? `https://upload.wikimedia.org/wikipedia/commons/${a}/${b}/${imgFilename}`
  : undefined
---

<Layout title={`${id}`}>
  <h1 transition:name={id}>Post {id}</h1>

  <!-- {
    player && player.surface && (
      <Image
        transition:name=`surface-${player._id}`
        src=`/images/${player.surface && player.surface.toLowerCase()}.webp`
        alt=`${player.surface} court`
        width={500}
        height={500}
      />
    )
  }



  <h2>{player.score}</h2>
  <h3>{player.winner_name} vs {player.loser_name}</h3>
  <h4>{player.tourney_name}</h4> -->

  {imgSrc && <img src={imgSrc} alt="player" width="200" height="200" />}

  <pre>{JSON.stringify(player, null, 2)}</pre>
</Layout>
